.hair-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hair-img {
  width: 80%;
  height: 80%;
}

.selected {
  width: 350px;
  height: 350px;
}

.in-list {
  width: 100px;
  height: 100px;
}
