.hair-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hair-img {
  width: 80%;
  height: 80%;
}

.expanded {
  width: 350px;
  height: 350px;
}

.in-list {
  width: 100px;
  height: 100px;

  cursor: pointer;

  transition: all 0.3s ease-out;
}
