.image-uploader-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 350px;
  height: 350px;

  cursor: pointer;
}

.image-uploader-wrapper > * {
  cursor: pointer;
}

.image-uploader-image {
  width: 240px;
  height: 240px;

  cursor: pointer;
}

.image-uploader-input {
  display: none;
}

.image-uploader-help {
  position: absolute;
  bottom: 5px;

  margin: 0;

  color: #999;
  font-size: 12px;
}
